[
  {
    "id": "stdapi-openai",
    "name": "stdapi.ai",
    "type": "openAiApi",
    "data": {
      "apiKey": "${api_key}",
      "url": "${openai_url}"
    }
  },
  {
    "id": "stdapi-anthropic",
    "name": "stdapi.ai anthropic",
    "type": "anthropicApi",
    "data": {
      "apiKey": "${api_key}",
      "url": "${anthropic_url}"
    }
  }
]
